body {
  background-color: rgba(146, 143, 143, 0.188);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15%;
}

img {
  width: 2%;
  height: 20px;
}

.background {
  background-color: #fff;
}

.border {
  border: 1px solid rgba(146, 143, 143, 0.188);
}

li,
form,
.title-toDo {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

p {
  margin: 0;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

#enter-icon {
  rotate: 90deg;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 2%;
  color: darkgray;
  font-size: medium;
  cursor: pointer;
}
